$main-color = #6a7ae6
$second-color = #5d7adc
$font-color = rgba(48, 50, 93, 0.7)
$font-color-inactive = rgba(48, 50, 93, 0.56)
$in-range-bg = #eef2fc
$in-range-bg-hover = #f7faff

@require "../flatpickr"

.flatpickr-calendar
  color $font-color
  font-family 'ApercuPro', sans-serif

.singleRange .startRange:before
  content none !important

.flatpickr-months .flatpickr-month
  height 56px
  line-height: 20px

.flatpickr-current-month
  display flex
  align-items center
  justify-content center
  padding 0
  margin 0
  text-align center
  font-weight normal
  font-size 16px
  height 56px

  span.cur-month
    font-weight: normal
    margin: 0
    color rgba(48, 50, 93, 0.7)
    font-size 16px

    &:hover
      background none

.flatpickr-current-month .numInputWrapper
  display none

.flatpickr-weekday
  font-family 'ApercuPro', sans-serif
  font-style normal
  font-weight 500
  font-size 14px
  line-height 17px
  color #303838

.flatpickr-months .flatpickr-next-month.flatpickr-next-month
  height 56px
  width 37px
  display flex
  align-items center
  justify-content center
  padding 0
  margin 0
  fill $main-color

  &:hover svg
    fill $second-color

.flatpickr-months .flatpickr-prev-month
  height 56px
  width 37px
  display flex
  align-items center
  justify-content center
  padding 0
  margin 0
  fill $main-color

  &:hover svg
    fill $second-color

.flatpickr-innerContainer
  color $font-color
  font-family 'Apercu Pro', sans-serif

.dayContainer
  padding-bottom 16px
  width 100%
  max-width 100%
  display flex
  flex-direction row
  align-items flex-start

.prevMonthDay
  visibility hidden

.nextMonthDay
  height 1px !important
  visibility hidden

span.flatpickr-weekday
  font-weight 500
  font-size 14px
  line-height 17px
  color #303838

.flatpickr-days
  width 100%

.flatpickr-day
  margin 0 0 1px !important
  padding 0
  font-weight normal
  color rgba(48, 50, 93, 0.7)
  font-size 14px
  box-sizing border-box
  height 32px
  line-height 32px
  border-radius 0
  border none
  max-width initial

  &.disabled
    opacity 0.4

    &:hover
      color $font-color
      cursor default
      background none

  &:hover
    position relative
    border none
    background none
    opacity 0.3
    color #fff

    &:after
      content ''
      position absolute
      left 0
      right 0
      margin-left auto
      margin-right auto
      height 32px
      width 32px
      border-radius 50%
      background-color $main-color
      z-index -1

  &.today
    border none
    background none !important

  &.selected
    background none !important
    border none
    border-radius none
    color #fff

    &:after
      content ''
      position absolute
      left 0
      right 0
      margin-left auto
      margin-right auto
      height 32px
      width 32px
      border-radius 50%
      background-color $main-color
      z-index -1

  &.inRange
    background $in-range-bg
    border none !important
    box-shadow none

    &:hover
      background $in-range-bg-hover
      opacity 1
      color $font-color

      &:after
        content none

  &.startRange
    color #ffffff
    background none !important
    border none !important
    border-radius none !important
    box-shadow unset !important

    &:after
      content ''
      position absolute
      left 0
      right 0
      margin-left auto
      margin-right auto
      height 32px
      width 32px
      border-radius 50%
      background-color $main-color
      z-index -1

    &:before
      content ''
      position absolute
      width 50%
      height 100%
      background-color $in-range-bg
      display block
      z-index -1
      right 0
      box-shadow none

    &:hover
      opacity 1
      box-shadow unset

  &.endRange
    color #ffffff
    background none !important
    border none !important
    border-radius none !important
    box-shadow unset !important

    &:after
      content ''
      position absolute
      left 0
      right 0
      margin-left auto
      margin-right auto
      height 32px
      width 32px
      border-radius 50%
      background-color $main-color
      z-index -1

    &:before
      content ''
      position absolute
      width 50%
      height 100%
      background-color $in-range-bg
      display block
      z-index -1

    &:hover
      opacity 1

.flatpickr-disabled
  color $font-color-inactive !important
  opacity .2 !important

  &:hover
    opacity .2

    &:after
      content none
